@import "../../Scss/measure";

.section {
  background-color: #164863;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive1024 {
    height: 120px;
  }
  .logoContainer {
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 15px;
    gap: 5px;
    @include responsive1024 {
      gap: 10px;
    }
    img {
      width: 50px;
      z-index: 302;
      @include responsive1024 {
        width: 100px;
      }
    }
    h1 {
      width: 85px;
      color: white;
      font-size: 12px;
      padding-top: 15px;
      z-index: 303;
      @include responsive1024 {
        font-size: 20px;
      }
      @include responsive1200 {
        font-size: 25px;
      }
    }
  }
  .homeElement {
    width: 25%;
    @include responsive768 {
      display: none;
    }
    i {
      color: white;
      font-size: 30px;
    }
  }
  .hamburgerContainer {
    padding-right: 10px;
    display: flex;
    align-items: center;
    @include responsive768 {
      display: none;
    }
    img {
      width: 30px;
    }
  }
  .menuContainer {
    display: none;
    @include responsive768 {
      display: flex;
      margin-right: 50px;
      padding-top: 15px;
    }
    @include responsive1024 {
      margin-right: 10px;
    }
    @include responsive1200 {
      margin-right: 50px;
    }
    @include responsive1440 {
      margin-right: 120px;
    }
    li {
      list-style: none;
      color: white;
      a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 13px;
        @include responsive800 {
          font-size: 14px;
        }
        @include responsive1024 {
          font-size: 17px;
        }
        @include responsive1200 {
          font-size: 18px;
        }
        @include responsive1440 {
          font-size: 20px;
        }
      }
      &:nth-child(2) {
        padding: 0 10px;
        @include responsive1024 {
          padding: 0 20px;
        }
        @include responsive1200 {
          padding: 0 30px;
        }
      }
      &:nth-child(4) {
        padding: 0 10px;
        @include responsive1024 {
          padding: 0 20px;
        }
        @include responsive1200 {
          padding: 0 30px;
        }
      }
      &:nth-child(6) {
        padding-left: 10px;
        @include responsive1024 {
          padding-left: 20px;
        }
        @include responsive1200 {
          padding-left: 30px;
        }
      }
    }
  }
  .dropdownContainer {
    position: relative;
    display: none;
    @include responsive768 {
      display: block;
      margin-right: 10px;
    }
  }
}
