@import "../../Scss/measure";

.section {
  background-color: black;
  .wrapperElement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @include responsive768 {
      justify-content: end;
      padding-right: 20px;
    }
    p {
      font-size: 10px;
      color: white;
      @include responsive500 {
        font-size: 14px;
      }
    }
    .developerNames {
      line-height: 10px;
      padding: 10px 0;
      p {
        cursor: pointer;
        font-size: 10px;
        color: white;
        @include responsive500 {
          font-size: 14px;
        }
      }
    }
  }
}
