@import "../../Scss/measure";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #9bbec8;
  padding-bottom: 30px;
  .ProductsSection {
    @include responsive728 {
      display: grid;
      grid-template-columns: 1fr;
    }
    @include responsive768 {
      grid-template-columns: 1fr 3fr;
    }
    .leftAsideMobile {
      height: 100vh;
      width: 100%;
      background-color: #164863;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 5;
      transition: 600ms ease-in-out;
      &.active {
        right: 0;
      }
      @include responsive768 {
        display: none;
      }
      h2 {
        margin-bottom: 50px;
        margin-left: 30px;
        border: 1px solid #ddf2fd;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #ddf2fd;
        color: #164863;
      }
      .crossButton {
        position: absolute;
        right: 8px;
        top: 10px;
      }
      ul {
        list-style: none;
        li {
          padding: 10px 5px;
          text-decoration: none;
          color: #9bbec8;
          font-size: 1.4rem;
        }
      }
    }
    .leftAsideDesktop {
      background-color: #164863;
      border: 1px solid #164863;
      display: none;
      margin: 10px 0 0 10px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 500px;
      border-radius: 10px;
      margin-bottom: 30px;
      @include responsive768 {
        display: flex;
      }
      @include responsive1200 {
        height: 800px;
      }
      h2 {
        padding: 0 10px;
        margin-bottom: 50px;
        border: 1px solid #ddf2fd;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #ddf2fd;
        color: #164863;
        font-size: 16px;
        @include responsive1200 {
          font-size: 24px;
        }
      }
      ul {
        list-style: none;
        width: 90%;
        text-align: center;
        padding-left: 0;
        li {
          padding: 10px;
          text-decoration: none;
          color: #9bbec8;
          width: 100%;
          margin-bottom: 5px;
          border-radius: 10px;
          cursor: pointer;
          @include responsive768 {
            font-size: 14px;
          }
          @include responsive1200 {
            font-size: 20px;
            padding: 20px;
          }
          &:hover {
            background-color: darken(#ddf2fd, 40%);
            transition: 300ms ease-in-out;
            color: white;
          }
          &.selected {
            background-color: darken(#ddf2fd, 20%);
            color: #164863;
          }
        }
      }
    }
    .cardsContainer {
      padding: 40px 20px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      @include responsive768 {
        grid-template-columns: 1fr 1fr;
      }
      @include responsive1024 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .cardItem {
        width: 280px;
        height: 430px;
        margin: 0 auto;
        border: 1px solid #164863;
        border-radius: 10px;
        background-color: #164863;
        @include responsive450 {
          width: 350px;
          height: 460px;
        }
        @include responsive550 {
          width: 450px;
          height: 540px;
        }
        @include responsive768 {
          width: 280px;
          height: 450px;
        }
        @include responsive900 {
          width: 300px;
          height: 450px;
        }
        @include responsive1000 {
          width: 370px;
          height: 490px;
        }
        @include responsive1024 {
          width: 250px;
          height: 420px;
        }
        @include responsive1200 {
          width: 300px;
          height: 480px;
        }
        @include responsive1400 {
          width: 380px;
        }
        @include responsive1500 {
          width: 350px;
          height: 490px;
        }
        img {
          width: 278px;
          height: 250px;
          border: 1px solid #164863;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          @include responsive450 {
            width: 348px;
            height: 280px;
          }
          @include responsive550 {
            width: 448px;
            height: 360px;
          }
          @include responsive768 {
            width: 278px;
            height: 230px;
          }
          @include responsive900 {
            width: 298px;
            height: 230px;
          }
          @include responsive1000 {
            width: 368px;
            height: 290px;
          }
          @include responsive1024 {
            width: 248px;
            height: 200px;
          }
          @include responsive1200 {
            width: 298px;
            height: 230px;
          }
          @include responsive1400 {
            width: 378px;
          }
          @include responsive1500 {
            width: 348px;
            height: 250px;
          }
        }
        .onlyTexts {
          padding: 10px 5px 0 5px;
          h3 {
            font-size: 14px;
            color: white;
            @include responsive450 {
              font-size: 16px;
            }
            @include responsive768 {
              font-size: 18px;
            }
            @include responsive1200 {
              font-size: 20px;
            }
          }
          p {
            line-height: 20px;
            font-size: 10px;
            color: white;
            @include responsive450 {
              font-size: 12px;
            }
            @include responsive768 {
              font-size: 14px;
              line-height: 25px;
            }
            @include responsive1200 {
              font-size: 18px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  .compressorInProduct {
    width: 90%;
    margin: auto;
    @include responsive768 {
      display: flex;
      width: 98.5%;
    }
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border: 1px solid #164863;
      background-color: #427d9d;
      width: 100%;
      @include responsive768 {
        width: 50%;
        border-top-right-radius: unset;
        border-bottom-left-radius: 10px;
      }
    }
    .aboutInProducts {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top: 1px solid #164863;
      background-color: #164863;
      padding: 5px;
      @include responsive768 {
        border-bottom-left-radius: unset;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
      }
      @include responsive1024 {
        padding: 5px 10px;
      }
      p {
        text-align: center;
        color: white;
        font-size: 14px;
        @include responsive768 {
          font-size: 16px;
        }
        @include responsive1024 {
          font-size: 18px;
        }
      }
    }
  }
}
.leftAsideMobile::-webkit-scrollbar {
  display: none;
}
